*{
    margin: 0;
    padding: 0;
}

html{
     height:100%
}
body{
    width: 100vw;
    height: 150vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


.nav-bar ul li {
     font-size: 30px;
     letter-spacing: 2px;
     transition-property: font-size;
     transition-duration: 1s;
     transition-duration: 2s;
     height: 2s;
     width: 2s;
     display: inline-block;
     overflow: hidden;
     font-weight: bold;
} 

.nav-bar{
text-align: center;
}

.rodape {
  margin-top: auto ;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  position:static;
  z-index: 100;
}



a {
  padding: 8px;

}

.nav-bar a {
  float: left;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}


.logo {
    padding-left: 20px;
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}


section {
    padding-left: 20px;
    text-decoration: none;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

section#texto {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 100px;
    margin-top: 100px;
}

.rodape p {
  position:static;
  margin: 0;
  top: auto;
  line-height:50px;
}

.links a {
  display:inline
}



.login-box {
      max-width: 600px;
      margin: auto;
      background: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h2 {
      padding-top: 50px;
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin: 10px 0;
    }

    
    button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
}  

.login-box {
       position: relative;
  top:210px;
}
